/*
 * card.css
 *
 * Color Scheme inspired by KDE Plasma Theme Card (by Phobi4n)
 * Source: /usr/share/plasma/desktoptheme/Card/colors
 */

:root {
  --bg-article: #ffffff;
  --fg-article: #000000;
  --fg-nav-border: #2f2f2f;
  --fg-shadow: #0f0f0f;

  --bg-window: rgb(75,104,113);
  --bg-normal: rgb(127,127,127);
  --bg-alt: rgb(59,64,69);

  --fg-window: rgb(220,235,238);
  --fg-view: rgb(220,235,238);
  --fg-normal: rgb(239,240,241);
  --fg-negative: rgb(231,76,60);
  --fg-neutral: rgb(253,188,75);
  --fg-positive: rgb(46,174,230);
  --fg-button: rgb(220,235,238);

  --fg-link: rgb(61,174,230);
  --fg-focus: rgb(61,174,233);
  --fg-hover: rgb(147,206,233);
  --fg-active: rgb(147,206,233);
  --fg-inactive: rgb(175,176,179);
  --fg-visited: rgb(61,174,230);
}

/* foreground and background */
html,
body {
  background-color: var(--bg-normal);
  color: var(--fg-normal);
}
a,
a:link {
  color: var(--fg-link);
}
a:visited {
  color: var(--fg-visited);
}
a:hover {
  color: var(--fg-hover);
}
a:active {
  color: var(--fg-active);
}
a svg path,
a:link svg path {
  fill: var(--fg-link);
}
a:visited svg path {
  fill: var(--fg-visited);
}
a:hover svg path {
  fill: var(--fg-hover);
}
a:active svg path {
  fill: var(--fg-active);
}

section#pageheader {
  background-color: var(--bg-window);
  color: var(--fg-window);
}
body aside details,
body aside .details {
  background-color: var(--bg-alt);
}

details summary,
.details summary {
  cursor: pointer;
}
details summary::-webkit-details-marker,
.details summary::-webkit-details-marker {
  display: none;
}
details summary h1::before,
.details summary h1::before {
  content: "\25B7";
  margin-right: 5px;
}
details[open] summary h1::before,
.details[open] summary h1::before {
  content: "\25BD";
  margin-right: 5px;
}

/* section#pagefooter>footer { */
section#pagefooter {
  background-color: var(--bg-window);
  color: var(--fg-window);
}

nav#menu,
nav#menu ul li:hover ul {
  background-color: var(--bg-alt);
}
nav#menu,
nav#menu a,
nav#menu a:link,
nav#menu a:visited {
}
main>nav a.current,
nav#menu ul li a.current {
  color: var(--fg-focus);
  border-bottom: 2px solid var(--fg-focus);
}
nav#menu ul li:hover>a {
}
nav#menu ul li:hover ul a:hover {
  color: var(--fg-hover);
}

main section#page {
  background-color: var(--bg-normal);
}
main section article {
  background-color: var(--bg-article);
  color: var(--fg-article);
}

main section article .disabled {
  color: var(--fg-view)!important;
}

/* borders and shadows */
nav#menu {
  border-top-color: var(--fg-nav-border);
  border-bottom-color: var(--fg-nav-border);
}
nav#menu {
  box-shadow: 0 2px 5px 0 var(--fg-shadow);
}
nav#menu>ul>li>ul {
  box-shadow: 0 2px 5px 0 var(--fg-shadow);
}

main blockquote {
  border-left-color: var(--fg-neutral);
}
main blockquote {
  background-color: var(--bg-alt);
  color: var(--fg-neutral);
}

main>section#text>article {
  box-shadow: 0 2px 3px -1px var(--fg-shadow);
}

body aside details,
body aside .details {
  box-shadow: 0 2px 3px -1px var(--fg-shadow);
}
section#pagefooter {
  box-shadow: 0 -2px 5px 0 var(--fg-shadow);
}

/* vim: set sw=2 ts=2 :*/
